@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Memory Size</th>
                <th>Throughput</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4>Global</h4>
                </td>
            </tr>
            <tr>
                <td>Category (38)</td>
                <td>3 MB</td>
                <td>476321174</td>
            </tr>
            <tr>
                <td>Category Product (1258)</td>
                <td>26 MB</td>
                <td>231456</td>
            </tr>
            <tr class="danger">
                <td>Product Detail (93257)</td>
                <td>135 MB</td>
                <td>56421786</td>
            </tr>
            <tr>
                <td>
                    <h4>Member</h4>
                </td>
            </tr>
            <tr>
                <td>Customer Info (83295)</td>
                <td>108 MB</td>
                <td>236489</td>
            </tr>
            <tr>
                <td>Coupon List (76261)</td>
                <td>83 MB</td>
                <td>56478</td>
            </tr>
            <tr class="danger">
                <td>Shopping Cart (83295)</td>
                <td>279 MB</td>
                <td>23456789</td>
            </tr>
        </tbody>
    </table>
</div>